* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 920px;
    margin: auto;
}

.container-small {
    width: 700px;
    margin: auto;
    background-color: fuchsia;
    padding: 200px;
}

header {
    background-color: cyan;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: orange;

    height: 40px;
}

nav div {
    border: 1px dashed black;

    padding: 10px;
}

.link-container {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    height: 100%;

    display: flex;
    align-items: center;
}

.container .nav-side {
    width: calc(920px / 4);
    flex-shrink: 0;
}

header .container :last-child {
    text-align: right;
}

section {
    padding: 40px;
}

section:first-of-type {
    background-color: blue;
}

main section:nth-child(2n+3) {
    background-color: grey;
}

.row{
    display: flex;
}

.col-small {
    background-color: blue;
    flex-basis: 30%;
}

.col-big {
    background-color: pink;
    flex-basis: 70%;
}

.col-small,
.col-big {
    padding: 200px;
}

.container-big {
    margin: auto;
    width: 920px;
    padding: 400px;
    background-color: green;
}