* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: cyan;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: orange;

    height: 40px;
}

nav div {
    padding: 10px;
}

header .container :last-child {
    text-align: right;
}

section {
    padding: 40px;
}

section:first-of-type {
    background-color: blue;
}

section:nth-child(2n+3) {
    background-color: grey;
}

footer {
    background-color: black;
}

.nav-link-container {
    flex-grow: 1;
    height: 100%;
    padding: 0;
}

.nav-link-container ul {
    list-style: none;
    display: flex;
    justify-content: center;

    height: 100%;
}

.nav-link-container ul li a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    height: 100%;

    display: flex;
    align-items: center;
}

.nav-side {
    width: calc(920px / 5);
}

[class^='container'] {
    margin: auto;
}

.container {
    width: 920px;
}

.container-small {
    width: 700px;
    background-color: fuchsia;
    padding: 200px;
}

.container-big {
    width: 920px;
    padding: 400px;
    background-color: green;
}

.container .row{
    display: flex;
}

.container .row .col-small {
    background-color: blue;
    flex-basis: 30%;
}

.container .row .col-big {
    background-color: pink;
    flex-basis: 70%;
}

/* Da rimuovere con contenuto */
.col-small,
.col-big {
    padding: 200px;
}

.footer1 {
    display: flex;
    padding: 5px 0 40px 0;
    border-bottom: 2px solid blue;
}

.footer-menu {
    border: 1px dashed black;
    padding: 200px 50px;
    background-color: tomato;
    flex-basis: calc((920px / 6) * 2 );
    flex-grow: 1;

}

.footer-links {
    border: 1px dashed white;
    background-color: aquamarine;
    padding: 50px;
    width: calc(920px / 6);
}

.footer2 {
    margin-top: 40px;
    padding: 1rem 0;
    background-color: aqua;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo,
.footer-btn {
    padding: 5px 10px;
    background-color: lightpink;
}